<div class="result-box">
  <div align="center">
    <h1><%= @pokemonApi[:name].capitalize %></h1>
  </div>

  <div align="center">
    <p>PokeDex Number: <%= @pokemonApi[:id] %></p>
    <%= image_tag "#{@pokemonApi[:sprites][:front_default]}" %>
    <p>Type:<%= @pokemonApi[:types].first[:type][:name].capitalize %></span>
  </div>
  
  <%= form_tag '/pokemon', method: :get do %>
    <div align="center" class="poke-search">
      <p>Search for another Pokémon:</p>
      <%= text_field_tag :pokemon %>
      <%= submit_tag "Search" %>
    </div align="center">
  <% end %>
</div>